<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/devicon@2.14.0/devicon.min.css">

<section class="skills">
    <div class="skills__content">
      
      <h1 class="skills__background-text">Skills</h1>
      
      <div class="skills__content__title">
        <h1>Skills</h1>
      </div>
  
        <div class="skills__area ">
        
            <div class="skill-box">
                <i class="devicon-html5-plain colored"></i>
                <p>HTML5</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-css3-plain colored"></i>
                <p>CSS3</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            
            <div class="skill-box">
                <i class="devicon-javascript-plain colored"></i>
                <p>JavaScript</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-typescript-plain"></i>
                <p>TypeScript</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-angularjs-plain colored"></i>
                <p>Angular</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-nodejs-plain colored"></i>
                <p>Node.js</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-python-plain colored"></i>
                <p>Python</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-flask-original-wordmark colored"></i>
                <p>Flask</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">          
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/selenium/selenium-original.svg" />
          
                <p>Selenium</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-pandas-plain"></i>
                <p>Pandas</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-java-plain"></i>
                <p>Java</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" />
          
                <p>Spring</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuresqldatabase/azuresqldatabase-original.svg" />
          
                <p>SQL</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            <div class="skill-box">
                <i class="devicon-c-plain"></i>
                <p>C</p>
                <div class="stars">
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star filled">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>

            

        </div>
    </div>
</section>
  