<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/devicon@2.14.0/devicon.min.css">

<section class="skills">
    <div class="skills__content">
     
        <h1 class="skills__background-text">Skills</h1>
        
        <div class="skills__content__title">
            <h1>Skills</h1>
        </div>
    
        
        <div class="skills__grid ">
        
            <div class="skill-box" *ngFor="let skill of skills">
                <ng-container *ngIf="skill.image; else iconTemplate">
                  <img [src]="skill.image" alt="{{ skill.name }}" class="skill-image">
                </ng-container>
                <!-- Exibe o ícone padrão se não houver imagem -->
                <ng-template #iconTemplate>
                  <i [class]="skill.icon"></i>
                </ng-template>
                <p>{{ skill.name }}</p>
                <div class="stars">
                  <span
                    class="star"
                    *ngFor="let star of [1,2,3,4,5]; let idx = index"
                    [class.filled]="idx < skill.stars"
                    >&#9733;</span>
                </div>
              </div>

        </div>

        <div class="carousels">
            <div class="carousel carousel1">
                <button class="carousel__button prev" (click)="previousSkill1()">&#10094;</button>
        
                <div class="carousel__slides">
                  <div
                    class="carousel__slide"
                    *ngFor="let skill of skillsCarousel1; let i = index"
                    [class.active]="i === currentSkill1"
                  >
                    <div class="skill-box">
                      <i [class]="skill.icon"></i>
                      <p>{{ skill.name }}</p>
                      <div class="stars">
                        <span
                          class="star"
                          *ngFor="let star of [1,2,3,4,5]; let idx = index"
                          [class.filled]="idx < skill.stars"
                        >&#9733;</span>
                      </div>
                    </div>
                  </div>
                </div>
        
                <button class="carousel__button next" (click)="nextSkill1()">&#10095;</button>
            </div>
        
              <!-- Segundo Carrossel -->
            <div class="carousel carousel2">
                <button class="carousel__button prev" (click)="previousSkill2()">&#10094;</button>
        
                <div class="carousel__slides">
                  <div
                    class="carousel__slide"
                    *ngFor="let skill of skillsCarousel2; let i = index"
                    [class.active]="i === currentSkill2"
                  >
                    <div class="skill-box">
                      <i [class]="skill.icon"></i>
                      <p>{{ skill.name }}</p>
                      <div class="stars">
                        <span
                          class="star"
                          *ngFor="let star of [1,2,3,4,5]; let idx = index"
                          [class.filled]="idx < skill.stars"
                        >&#9733;</span>
                      </div>
                    </div>
                  </div>
                </div>
        
                <button class="carousel__button next" (click)="nextSkill2()">&#10095;</button>
            </div>

        </div>
        
       
          
    </div>
</section>
  