.skills {
    position: relative;
    padding: 0px 20px;
    text-align: center;
    color: whitesmoke;
    display: flex; /* Usamos flexbox para centralizar o conteúdo */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Garante que padding e bordas sejam considerados no tamanho */
    overflow: visible; /* Previne que o conteúdo exceda a tela */
}
  
.skills__content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 1500px;
    margin-top: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
  

.skills__background-text {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 10vw;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.05);
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}
  

.skills__content__title h1 {
    font-size: 2.7rem;
    font-weight: bold;
    color: #9400FF;

}

.skills__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    justify-items: center;
}
 
  
  
.skill-box {
    background: rgba(148, 0, 255, 0.2); 
    border: 1px solid rgba(148, 0, 255, 0.4); 
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s, background 0.3s; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
  
 
.skill-box i {
    font-size: 4rem;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.skill-box img {
    font-size: 4rem;
    margin-bottom: 10px;
    transition: transform 0.3s;
    width: 5rem;
}
  
  
.skill-box p {
    margin: 0;
    font-size: 1.1rem;
    color: #ffffff;
}

.skill-image {
    width: 5rem; /* Tamanho da imagem */
    height: auto;
    margin-bottom: 10px;
}

.stars {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.star {
    font-size: 1.2rem; 
    color: #ffffff; 
    transition: transform 0.3s;
}

.star.filled {
    color: #FFD700; 
}

.skill-box:hover .star {
    transform: scale(1.2); 
}
  
  /* Animação e efeito ao passar o mouse */
.skill-box:hover {
    transform: scale(1.1); 
    background: rgba(148, 0, 255, 0.4);
}
  
.skill-box:hover i {
    transform: rotate(15deg); 
}

.skill-box:hover img {
    transform: rotate(15deg); 
}

.carousels {
    display: none; /* Esconde por padrão */
    width: 100%;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 5vh;
    width: 100%;
}

.carousel__slides {
    position: relative;
    width: 100%;
}

.carousel__slide {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    transform: translateX(0);
    opacity: 1;
}

.carousel__slide.active {
    display: flex;
  opacity: 1;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(148, 0, 255, 0.7);
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.carousel__slide.slide-out-left {
    animation: slideOutLeft 0.3s forwards ease-in-out;
}
  
.carousel__slide.slide-out-right {
    animation: slideOutRight 0.3s forwards ease-in-out;
}

.carousel__button.prev {
    left: 0;
}
  
.carousel__button.next {
    right: 0;
}
  

.carousel__button:hover {
    background-color: rgba(148, 0, 255, 0.9);
}

@keyframes slideOutLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  @keyframes slideOutRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

@media (max-width: 1280px){
    .skills {
        padding: 40px 20px;
    }

    .skills__grid {
        grid-template-columns: repeat(auto-fill, minmax(10px, 150px));
        gap: 1rem;
    }
    
}

@media (max-width: 1024px) {
    .skills {
        padding: 40px 20px;
    }

    .skills__background-text {
        font-size: 5rem;
        top: 20%;
    }

    .skills__content__title h1{
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .skills__grid {
        grid-template-columns: repeat(auto-fill, minmax(10px, 150px));
        gap: 0.5rem;
    }

    .skill-box {
        padding: 10px;
    }

    .skill-box i,
    .skill-box img {
        font-size: 3.5rem;
        width: 4rem;
    }

    .skill-box p {
        font-size: 1.5rem;
    } 

    .star {
        font-size: 1.5rem;
    }
}

@media (min-width: 2000px) {

    

    .skills__background-text {
        font-size: 10rem;
        top: 20rem;
    }

    .skills__content__title h1 {
        font-size: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .skills__grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 3rem 10rem;
        margin-top: 0;
        gap: 3rem;
    }

    .skill-box {
        padding: 30px;
    }

    .skill-box i,
    .skill-box img {
        font-size: 7rem;
        width: 7rem;
    }

    .skill-box p {
        font-size: 1.6rem;
    }

    .star {
        font-size: 2rem;
    }
}

/* Smartphones e telas pequenas */
@media (max-width: 768px) {
    .skills {
        height: 60%;
        padding: 50px 20px;
    }
    .skills__content {
        padding: 0;
        height: 60%;
    }

    .carousels {
        display: block; 
        margin-bottom: 2rem;
    }

    .skills__background-text {
        font-size: 4rem;
        top: 20%;
    }

    .skills__content__title h1 {
        font-size: 2rem;
    }

    .skills__grid {
        display: none;
    }

    .skills__carousel::-webkit-scrollbar {
        display: none;
    }


    .skill-box {
        padding: 10px;
    }

    .skill-box i,
    .skill-box img {
        font-size: 3rem;
        width: 3.5rem;
    }

    .skill-box p {
        font-size: 0.9rem;
    }

    .star {
        font-size: 0.9rem;
    }
}

/* Smartphones muito pequenos */
@media (max-width: 480px) {
    .skills {
        padding: 20px 10px;
    }

    .skills__background-text {
        font-size: 3rem;
        top: 15%;
    }

    .skills__content__title h1 {
        font-size: 2rem;
    }

    .skills__area {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .skill-box {
        padding: 10px;
    }

    .skill-box i,
    .skill-box img {
        font-size: 2.5rem;
        width: 3rem;
    }

    .skill-box p {
        font-size: 1.2rem;
    }

    .star {
        font-size: 1.2rem;
    }
}

