<nav>
    <ul class="header__options">
      <li><a [routerLink]="['/']" fragment="home" class="header__options__option">Home</a></li>
      <li><a [routerLink]="['/']" fragment="about" class="header__options__option">Sobre mim</a></li>
      <li><a [routerLink]="['/']" fragment="skills" class="header__options__option">Habilidades</a></li>
      <li><a [routerLink]="['/']" fragment="projects" class="header__options__option">Projetos</a></li>
      <li><a [routerLink]="['/']" fragment="services" class="header__options__option">Serviços</a></li>
      <li><a [routerLink]="['/']" fragment="contact" class="header__options__option">Contato</a></li>
    </ul>
</nav>
  