<nav>
    <ul class="header__options">
        <li><a routerLink="/home" routerLinkActive="active" class="header__options__option">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active" class="header__options__option">Sobre mim</a></li>
        <li><a routerLink="/projects" routerLinkActive="active" class="header__options__option">Projetos</a></li>
        <li><a routerLink="/services" routerLinkActive="active" class="header__options__option">Serviços</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" class="header__options__option">Contato</a></li>
    </ul>
</nav>
