<nav>
    <ul class="header__options">
      <li><a href="#home" class="header__options__option">Home</a></li>
      <li><a href="#about" class="header__options__option">Sobre</a></li>
      <li><a href="#skills" class="header__options__option">Skills</a></li>
      <li><a href="#projects" class="header__options__option">Projetos</a></li>
      <li><a href="#services" class="header__options__option">Serviços</a></li>
      <li><a href="#contact" class="header__options__option">Contato</a></li>
    </ul>
</nav>
  

