@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,600;1,9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
main {
    width: 100%;
    max-height: 100vh; /* O main crescerá com o conteúdo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}


#skills, app-skills,app-projects,#projects, #services, app-services, #contact,app-contact {
    width: 100%;
}

ngx-particles {
    z-index: -1; /* Envia as partículas para o fundo */
  }
  

