<section id="services" class="services">
    <h1 class="services__background-text">Serviços</h1>
    <div class="services__title">
      <h2>Serviços</h2>
    </div>
  
    <div class="services__flex">
      <!-- Serviço 1: Automações RPA -->
      <div class="service-box">
        <div class="service-icon">
          <img src="assets/images/rpa.png" alt="Ícone de Automações RPA">
        </div>
        <h3>Automações RPA</h3>
        <p>Desenvolvimento de automações robóticas (RPA) para otimização de processos repetitivos e melhoria da eficiência operacional.</p>
      </div>
  
      <!-- Serviço 2: Agentes de IA -->
      <div class="service-box">
        <div class="service-icon">
          <img src="assets/images/ai-icon.png" alt="Ícone de Agentes de IA">
        </div>
        <h3>Desenvolvimento de Agentes de IA</h3>
        <p>Criação de agentes inteligentes baseados em IA com funcionalidades para Vendas, Agendamentos ou Suporte. </p>
      </div>
  
      <!-- Serviço 3: Desenvolvimento Web -->
      <div class="service-box">
        <div class="service-icon">
          <img src="assets/images/web.png" alt="Ícone de Desenvolvimento Web">
        </div>
        <h3>Desenvolvimento Web</h3>
        <p>Construção de sites e aplicações web com foco em desempenho, design responsivo e experiência do usuário.</p>
      </div>
    </div>
</section>
  