/* Estilização da Seção de Serviços */
.services {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
    overflow: hidden;
}
.services__title{
    margin-bottom: 6rem;
}
  
  .services__title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #9400FF;
  }
  .services__background-text {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 7rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.05);
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
  }
  
  .services__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
  
  .service-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .service-box:hover {
    transform: translateY(-10px);
    background-color: rgba(148, 0, 255, 0.2);
  }
  
  .service-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  
  .service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .service-box p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ddd;
  }
  