.apresentation {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    gap: 2rem;
}

.apresentation__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.apresentation__text h1{
    font-size: 4rem;
    color: whitesmoke;
    margin-top: 1rem;
    max-width: 100%;
    word-wrap: break-word;
}

.apresentation__text b{
    color: #9400FF;
}


.apresentation__text h2{
   font-size: 2rem;
}

.apresentation__text__buttons{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 3rem;
}

.apresentation__text__buttons button:first-child{
    padding: 20px;
    color: black;
    background-color: #9400FF;
    border-radius: 10%;
    border: 1px solid #9400FF;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.apresentation__text__buttons button:last-child{
    padding: 15px 20px;
    color: #9400FF;
    background-color: black;
    border-radius: 10%;
    border: 2px solid #9400FF;
    font-size: 1rem;
    cursor: pointer;
    max-width: 100%;
    font-weight: bold;
}

.apresentation__text__buttons button:hover{
    transform: scale(1.2);
}


.apresentation__image{
    max-width: 45%;
    position: relative;
}

.apresentation__image img{
    width: 90%;
    height: 80%;
    max-width: 100%;
    max-height: 80vh;
    margin-top: 2rem;
    border-radius: 10%;
    position: relative;
    box-shadow: 0 0 15px #9400FF, 0 0 30px #9400FF, 0 0 45px #9400FF, 0 0 60px #9400FF;
    transition: box-shadow 0.3s ease-in-out;
    z-index: 1;
}


.apresentation__image:hover img {
    box-shadow: 0 0 20px #9400FF, 0 0 40px #9400FF, 0 0 60px #9400FF, 0 0 80px #9400FF;
}

@media (min-width: 2000px) {
    .apresentation {
        margin-top: 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px;
    }

    .apresentation__text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .apresentation__text__buttons button:first-child, .apresentation__text__buttons button:last-child{
        padding: 40px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .apresentation__text h1 {
        font-size: 6rem; /* Aumenta o tamanho do texto */
    }

    .apresentation__text h2 {
        font-size: 2rem; /* Ajusta o subtítulo */
    }

    .apresentation__text p {
        font-size: 2rem; /* Ajusta o tamanho do texto */
    }

    .apresentation__image {
        display: block;
        max-width: 50%; /* Aumenta a imagem para ocupar mais espaço */
    }

    .apresentation__image img {
        height: 60vh; /* Garante que a altura seja ajustada corretamente */
        width: 100%;
    }
}

/* Tablets e telas médias */
@media (max-width: 1024px) {
    .apresentation {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 20px;
    }

    .apresentation__text h1 {
        font-size: 3rem; /* Reduz o tamanho do texto */
    }

    .apresentation__text h2 {
        font-size: 1.5rem; /* Ajusta o subtítulo */
    }

    .apresentation__image {
        display: none;
        max-width: 50%; /* Aumenta a imagem para ocupar mais espaço */
    }

    .apresentation__image img {
        height: 28vh; /* Garante que a altura seja ajustada corretamente */
    }
}

/* Smartphones e telas pequenas */
@media (max-width: 768px) {
    .apresentation {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2rem;
        padding: 20px;
    }

    .apresentation__text{
        margin-top: 2rem;
        text-align: center;
    }
    .apresentation__text h1 {
        font-size: 3.5rem; /* Tamanho reduzido do título */
    }

    .apresentation__text h2 {
        font-size: 1.6rem; /* Ajusta o subtítulo */
    }
    .apresentation__text__buttons {
        display: flex;
        justify-content: center; /* Centraliza os botões horizontalmente */
        align-items: center;     /* Centraliza os botões verticalmente, se necessário */
        gap: 20px;               /* Mantém o espaço entre os botões */
        margin-top: 2rem;        /* Ajusta o espaçamento acima dos botões */
        flex-wrap: wrap;         /* Permite que os botões quebrem linha se necessário */
    }

    .apresentation__text__buttons button:first-child, 
    .apresentation__text__buttons button:last-child {
        padding: 10px 15px; /* Menor padding para botões */
        font-size: 0.9rem;
    }

    .apresentation__image {
        display: none;
        max-width: 50%; /* Aumenta a imagem em telas pequenas */
    }

    .apresentation__image img {
        height: 50vh;
    }

    
}

/* Smartphones muito pequenos */
@media (max-width: 480px) {
    .apresentation {
        margin-top: 5vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 2rem;
        padding: 20px;
    }
    .apresentation__text h1 {
        font-size: 2.5rem; /* Reduz ainda mais o tamanho do título */
    }

    .apresentation__text h2 {
        font-size: 1.2rem; /* Ajusta o subtítulo */
    }

    .apresentation__text__buttons button {
        padding: 8px 10px; /* Menor padding para botões */
        font-size: 0.8rem;
    }

    .apresentation__image {
        display: block;
        max-width: 80%; /* Imagem ocupa 100% da largura */
    }

    .apresentation__image img {
        height: auto;
        margin-top: 0.5rem;
    }
}

