/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh; /* Ocupa 100% da altura da tela do usuário */
    display: flex; /* Mantém o conteúdo centralizado */
    align-items: center;
    justify-content: center;
    padding: 20px; /* Opcional: para evitar que o conteúdo grude nas bordas */
  }

